<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">List View</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.1"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="row dark-border" collection-repeat="item in data.issueslist"
            data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <div class="item item-icon-right" data-comp-id="item.1">
                    <div class=" positive" data-comp-id="text.1" ng-bind="item.id"
                        style="font-weight: bold;">Some text
                        <span class="item-note"></span>
                    </div>
                </div>
                <div class="row" data-comp-id="row.2">
                    <div class="col" data-comp-id="column.2">
                        <div class="item item-icon-right" data-comp-id="item.2">
                            <div data-comp-id="text.2" ng-bind="item.summary">
                                Some text
                                <span class="item-note"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-comp-id="row.3">
                    <div class="col" data-comp-id="column.3">
                        <div class=" positive" data-comp-id="text.3" style="font-weight: bold;">Severity</div>
                    </div>
                    <div class="col" data-comp-id="column.4">
                        <div class=" positive" data-comp-id="text.4" style="font-weight: bold;">Category</div>
                    </div>
                </div>
                <div class="row" data-comp-id="row.4">
                    <div class="col" data-comp-id="column.5">
                        <div class="item item-icon-right" data-comp-id="item.3">
                            <div data-comp-id="text.5" ng-bind="item.severity">
                                Some text
                                <span class="item-note"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col" data-comp-id="column.6">
                        <div class="item item-icon-right" data-comp-id="item.4">
                            <div data-comp-id="text.6" ng-bind="item.category">
                                Some text
                                <span class="item-note"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>